*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
servidor-notificaciones/serviceAccountKey.json
servidor-notificaciones/serviceAccountKey.json
servidor-notificaciones/serviceAccountKey.json
servidor-notificaciones/serviceAccountKey.json
**/*firebase-adminsdk*.json
servidor-notificaciones/node_modules/

# Firebase Admin private key
servidor-notificaciones/serviceAccountKey.json
**/serviceAccountKey.json
**/*firebase-adminsdk*.json

# Node local server dependencies
servidor-notificaciones/node_modules/
servidor-notificaciones/package-lock.json
